
<footerclass="mt-5 mb-4 footer-extra-margin>
    <div class="container">
<ul class="nav justify-content-center border-bottom pb-3 mb-5">
      <li class="nav-item"><a href="/home" class="nav-link px-2 text-muted">Home</a></li>
      <li class="nav-item"><a href="/featured-project" class="nav-link px-2 text-muted">Featured Project</a></li>
      <li class="nav-item"><a href="/gallery" class="nav-link px-2 text-muted">Gallery</a></li>
      <li class="nav-item"><a href="/contact" class="nav-link px-2 text-muted">Contact</a></li>
    </ul>
    <ul class="nav justify-content-center border-bottom pb-4 mb-4">
      <li class="nav-item"><a href="https://www.instagram.com/seizdisproductions/" class="nav-link px-2 text-muted">Instagram</a></li>
      <li class="nav-item"><a href="https://www.facebook.com/seizdisproductions" class="nav-link px-2 text-muted">Facebook</a></li>
      <li class="nav-item"><a href="https://www.linkedin.com/in/derrick-jarrell-9b4b9820b/" class="nav-link px-2 text-muted">LinkedIn</a></li>

   </ul>
    <p class="text-center text-muted">&copy; 2025 Seiz Dis Productions, Inc</p>
</footer>