<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="content
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="./images/SUN.ico">
    <title>New Project Page</title>
    <meta name="author" content="Derrick Jarrell">
    <meta name="description" content="A page to display new art projects">
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>

    <header>
    <%- include('header'); %>
  </header>
  <div class="container">
  <div class="spacer"></div>
    <div>Projects</div>
      <% projectArray.forEach(item, index) => { %>
        <div>
          <a href="/project/<%= index + 1 %>"><%= item %></a>
        </div>
      <% }); %>
  </div>

<script type="module" src="./js/index.js"></script>


  <footer class="mt-5 mb-4 footer-extra-margin">
      <%- include('footer'); %>
  </footer>
  
</body>

</html>