<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('partials/header'); %>
        <title>Plasma Clouds nft | error: 404</title>
        <meta name="description" content="There was an internal error.We are working to fix the problem. Please try again later.">
    </head>
    <body>
        <header>
            <%- include('partials/header'); %>
        </header>
        <div id="content" class="container" style="display: flex; justify-content: center; align-items: center;">
            <div class="row">
                <h1 class="text-center">error: 404</h1>
                <p class="text-center fs-2">page not found.</p>
                <a href="/" class="text-center" aria-label="link to home page"><p>go home</p></a>
            </div>
        </div>
        <footer>
            <%- include('partials/footer'); %>
        </footer>
    </body>
</html>